@font-face {
    font-family: "Space Grotesk";
    src: url(./assets/font/static/SpaceGrotesk-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

:root{
  --fondoPrincipal: #12131A;
  --fondoGeneral: #1C1F2A;
  --textoPrincipal: #F2F2F7;
  --textoSecundario: #B4B7C9;
  --cardVioleta: #C99DFF;
  --cardNaranja: #FFB21E;
  --cardCoral: #FF8A65;
  --barraProgreso: #D19BFF;
  --bordes: #2A2D3A;
}

body{
    background-color: var(--fondoPrincipal);
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    color: var(--textoSecundario);
    margin-right: auto;
}

header img{
    width: 70px;
    height: 70px;
    padding-inline: 5px;
}

header button{
    background-color: var(--fondoGeneral);
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 12px;
    margin-right: 15px;
    cursor: pointer;
}

header button:hover{
    opacity: 0.8;
}

header button img{
    width: 50px;
    height: 50px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

section h1{
    text-align: center;
    color: var(--textoPrincipal);
    margin-bottom: 40px;
}

section textarea{
    width: clamp(250px, 70vw, 800px); /*sirve para darle a una propiedad un valor minimo, adaptable, maximo*/
    max-width: 100%;
    height: 150px;
    padding-top: 10px;
    padding-left: 13px;
    background-color: var(--fondoGeneral);
    color: var(--textoSecundario);
    border: none;
    border-radius: 10px;
    border: 2px solid var(--bordes);
    resize: vertical;
}

.opciones{
    width: clamp(250px, 70vw, 800px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.texto-aproximado{
    margin-left: auto;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="checkbox"]{
    appearance: none; /*borra el estilo por defecto */
    width: 18px;
    height: 18px;
    border: 2px solid var(--bordes);
    border-radius: 4px;
}

input[type="checkbox"]::before{
    content: "";
}

input[type="checkbox"]:checked{
    background-color: var(--barraProgreso);
    border-color: var(--barraProgreso);
}

input[type="checkbox"]:checked::after{
    content: "✔";
    color:var(--fondoPrincipal);
    position: absolute;
}

span{
    color: var(--textoSecundario);
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.fondo{
    width: 0px;
}
.card1{
    background-color: var(--cardVioleta);
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    background-image: url(./assets/img/card1.png);
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}


.card2{
    background-color: var(--cardNaranja);
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/img/card2.png);
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

.card3{
    background-color: var(--cardCoral);
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    background-image: url(./assets/img/card3.png);
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.card1 h3, .card2 h3, .card3 h3{
    font-size: 40px;
}

section h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--textoPrincipal);
    margin-right: 50%;
}

.barra-progreso{
    width: clamp(250px, 70vw, 800px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    align-items: stretch;
}

.fila{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.letra{
    color: var(--textoSecundario);
    width: 20px;
}

.barra{
    flex: 1;
    height: 12px;
    background-color: var(--fondoGeneral);
    border-radius: 999px;
    overflow: hidden;
}

.relleno{
    height: 100%;
    background-color: var(--barraProgreso);
    border-radius: 999px;
}

.r1{
    width: 16.06%;
}

.r2{
    width: 11.65%;
}

.r3{
    width: 11.24%;
}

.r4{
    width: 8.84%;
}

.r5{
    width: 8.43%;
}

.numero{
    color: var(--textoSecundario);
    min-width: 95px;
}

.ver-mas{
    width: clamp(250px, 70vw, 800px);
    display: flex;
    align-items: center;
}

.ver-mas button{
    margin-right: auto;
    background: none;
    border: none;
    color: var(--textoSecundario);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}